.happy-slider-container {
  margin: 0 auto;
  text-align: center;
  padding: 0px 100px 60px 100px;
  background: #f3fff1;

  @media only screen and (min-width: 1601px) {
    padding: 60px 80px;
  }
  @media only screen and (max-width: 1400px) {
    padding: 40px 0px 40px 40px;
  }
  @media only screen and (max-width: 1000px) {
    padding: 20px 0px 20px 20px;
  }
  @media only screen and (max-width: 400px) {
    padding: 20px 0px 30px 10px;
  }

  .content_top {
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    @media only screen and (max-width: 1400px) {
      padding-right: 40px;
    }
    @media only screen and (max-width: 1051px) {
      flex-direction: column;
      align-items: start;
    }
    @media only screen and (max-width: 500px) {
      padding-right: 0;
    }

    .view-all {
      padding: 8px 10px 8px 25px;
      background-color: #007bff;
      color: #fff;
      border: none;
      font-size: 20px;
      border-radius: 100px;
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      background: linear-gradient(90.15deg, #2463eb 0.13%, #1c4eb8 103.2%);
      color: #fff;
      border: 1px solid transparent;
      transition: 0.3s linear;
      @media only screen and (max-width: 1051px) {
        margin-top: 30px;
      }
      @media only screen and (max-width: 500px) {
        padding: 5px 6px 5px 15px;
        font-size: 16px;
      }
      .arrow-icon {
        transition: 0.3s linear;
        background: #fff;
        color: #0056b3;
        border-radius: 100px;
        width: 40px;
        height: 40px;
        padding: 5px;
      }

      &:hover {
        background: #fff !important;
        border: 1px solid #0056b3;
        color: #472525;

        .arrow-icon {
          background: linear-gradient(90.15deg, #2463eb 0.13%, #1c4eb8 103.2%);
          color: #fff;
        }
      }
    }

    .slider-heading {
      display: flex;
      align-items: center;
      gap: 10px;
      background: linear-gradient(91.63deg, #0200cc 2.06%, #010066 85.94%);
      font-size: 48px;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      width: 750px;
      font-weight: 500;
      line-height: 57.6px;
      letter-spacing: -2.200000047683716px;
      text-align: left;
      margin-top: 8px;
      @media only screen and (max-width: 1051px) {
        font-size: 38px;
        width: 100%;
        img {
          width: 40px;
        }
      }
      @media only screen and (max-width: 550px) {
        font-size: 30px;

        img {
          width: 30px;
        }
      }
      @media only screen and (max-width: 440px) {
        font-size: 30px;
        line-height: 35px;
        img {
          display: none;
        }
      }
    }

    .slider-subheading {
      font-size: 16px;
      font-weight: 400;
      font-family: "Supreme-Regular", sans-serif;
      line-height: 24px;
      letter-spacing: -0.30000001192092896px;
      text-align: left;
      color: #454545;
      width: 750px;
      margin-top: 8px;
      @media only screen and (max-width: 1051px) {
        width: 100%;
      }
      @media only screen and (max-width: 1051px) {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }

  .blog-slider-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 40px;
    padding: 10px 0;
  }

  .slider-cards {
    display: flex;
    transition: transform 0.5s ease;
  }

  .slider-card {
    overflow: hidden;
    border-radius: 16px;
    background: #02282b;
    border-radius: 20px;
    margin-right: 20px;
    flex-shrink: 0;
    width: 287px;
    max-height: 587px;
    text-align: left;
    position: relative;
    &:hover {
      box-shadow: 0px 2px 10px 1px #00000067 !important;
    }

    .card-image {
      width: 100%;
      height: 364px;
      border-radius: 20px;
      object-fit: cover;
      display: block;
      
    }


    @media only screen and (max-width: 750px) {
      width: 350px;
      .card-image {
        height: 487px;
      }
    }
    @media only screen and (max-width: 550px) {
      width: 300px;
      .card-image {
        height: 440px;
      }
    }
    @media only screen and (max-width: 400px) {
      width: 280px;
      .card-image {
        height: 440px;
      }
    }

    .card_blur {
      width: 100%;
      height: 90px;
      position: absolute;
      margin-top: -80px;
      
      display: flex;
      align-items: start;
      padding: 10px 20px;
      justify-content: space-between;
      background: linear-gradient(
        348.42deg,
        rgba(0, 0, 0, 0.2) 56.4%,
        rgba(102, 102, 102, 0.02) 88.78%
      );
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border-bottom-left-radius: 20px !important;
      border-bottom-right-radius: 20px !important;
      transition: opacity 0.3s ease-in-out;

      .aut_text-img {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        img {
          width: 51px;
          height: 51px;
          border-radius: 100px;
          object-fit: cover;
          margin-top: 10px;
        }

        .aut_text {
          // margin-top: 10px;

          .card-name {
            font-size: 25px;
            font-weight: 400;
            font-family: "Supreme-Regular", sans-serif;
            line-height: 36.6px;
            letter-spacing: -0.5px;
            text-align: left;
            color: #ffffff;
            @media only screen and (max-width: 550px) {
              font-size: 20px;
            }
          }

          .card-location {
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            font-family: "Supreme-Regular", sans-serif;
            text-align: left;
            color: #ffffffca;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100% ;
            @media only screen and (max-width: 550px) {
              font-size: 14px;
            }
          }
          .stars {
            bottom:30px;
            right: 10px;
            position: absolute;
            margin-top: 5px;
            display: inline-flex;
            gap: 2px;
            @media only screen and (max-width: 550px) {
              svg {
                width: 10px;
              }
            }
          }
        }
      }

      .action_btn {
        border: none;
        padding: 8px 12px;
        border-radius: 190px;
        cursor: pointer;
        margin-top: 8px;
        background: transparent;
        transition: 0.3s linear;

        &:hover {
          opacity: 0.8;
        }
      }
    }
    .isPlaying {
      opacity: 0;
      pointer-events: none;
      &:hover {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  hr {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 40px 0;
  }

  // Styles for the new progress bar section
  .progress {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    padding-right: 60px; // Add padding similar to content_top for alignment

    @media only screen and (max-width: 1400px) {
      padding-right: 40px;
    }
    @media only screen and (max-width: 1000px) {
      padding-right: 20px;
    }
    @media only screen and (max-width: 400px) {
      padding-right: 10px;
    }

    .nav-btn {
      min-width: 54px;
      min-height: 54px;
      border: none;
      border-radius: 100px;
      cursor: pointer;
      display: flex; // Ensure icons are centered
      justify-content: center;
      align-items: center;
      transition: background 0.3s ease; // Add transition for background
      border: 1px solid #00CFDE;
      background: transparent;
      @media only screen and (max-width: 400px) {
        min-width: 40px;
        min-height: 40px;
      }
      svg {
        width: 32px;
        height: 32px;
        color: #2a1616;
        transition: color 0.3s ease; // Add transition for SVG color

        @media only screen and (max-width: 400px) {
          width: 22px;
          height: 22px;
        }
      }

      &:disabled {
        cursor: not-allowed;
        border: 1px solid rgba(128, 128, 128, 0.645);
        svg {
          color: #0000005c;
        }
      }
      &:not(:disabled):hover {
        // background: #0056b3; // Hover effect for buttons
      }
    }

    .progress-bar-wrapper {
      flex-grow: 1; // Allows the progress bar to take up available space
      background: #f0f0f0;
      height: 5px;
      border-radius: 100px; // Make corners rounded
      overflow: hidden; // Ensures progress bar doesn't extend beyond wrapper

      .progress-bar {
        border-radius: 100px;
        background: #215ad5;
        height: 100%;
        transition: width 0.5s ease-in-out; // Smooth transition for width change
      }
    }
  }
}