.location-section {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 60px;
  background-color: #f7f7f7;
  @media only screen and (max-width: 1400px) {
    padding: 40px;
  }
  @media only screen and (max-width: 1000px) {
    padding: 20px;
  }
  .text-content {
    width: 768px;
    @media only screen and (max-width: 900px) {
      width: 100%;
    }
    h5 {
      background: #b0f0f5cc;
      font-weight: 500;
      color: #000;
      width: fit-content;
      padding: 4px 10px;
      border-radius: 100px;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0%;
    }
    h2 {
      margin-top: 10px;
      font-weight: 500;
      display: flex;
      align-items: center;
      gap: 10px;
      color: #472525;
      font-size: 48px;
      line-height: 57.6px;
      letter-spacing: -2.2px;
      @media only screen and (max-width: 535px) {
        font-size: 40px;
        line-height: 47.6px;
        img {
          width: 40px;
        }
      }
             @media only screen and (max-width: 420px) {
               font-size: 35px;
               line-height: 40.6px;
      
               img {
                 width: 35px;
               }
             }
      @media only screen and (max-width: 360px) {
        font-size: 30px;
        line-height: 30.6px;
        img {
            width: 30px;
          }
      }
      span {
        color: #1e90ff;
      }
    }

    p {
      margin-top: 8px;
      font-weight: 400;
      font-size: 16px;
      line-height: 22.4px;
      letter-spacing: 0%;
      color: #454545;
    }
  }
  .mapCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    @media only screen and (max-width: 900px) {
      flex-direction: column;
      gap: 20px;
    }
    .location-list {
      display: flex;
      flex-direction: column;
      gap: 30px;
      justify-content: space-between;
      margin-right: 20px;
      @media only screen and (max-width: 900px) {
        // flex-direction: row;
        justify-content: left !important;
        width: 100%;
        gap: 20px;
      }
      .location-card {
        padding: 1rem;
        border-radius: 8px;

        h3 {
          font-weight: 500;
          font-size: 24px;
          line-height: 28.8px;
          letter-spacing: -0.8px;
          color: #171717;
        }

        p {
          margin-top: -1px;
          color: #171717;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0%;
        }

        button {
          margin-top: 13px;
          border: none;
          outline: none;
          background: none;
          cursor: pointer;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0%;
          color: #007bff;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
      .locationActive {
        background-color: #e6f7ff;
        position: relative;
        // border-left: 2px solid #1e90ff;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          height: 90%;
          margin-top: 5px;
          width: 2px;
          background-color: #1e90ff;
          /* Border ka color */
        }
      }
    }

    .map-container {
      iframe {
        width: 780px;
        height: 430px;
        border-radius: 8px;
        @media only screen and (max-width: 1260px) {
          width: 700px;
          height: 450px;
        }
        @media only screen and (max-width: 1120px) {
          width: 600px;
          height: 500px;
        }
        @media only screen and (max-width: 1000px) {
          width: 500px;
          height: 500px;
        }
        @media only screen and (max-width: 900px) {
          width: 90vw;
        }
        @media only screen and (max-width: 535px) {
          width: 88vw !important;
          height: 400px;
        }
      }
    }
  }
}
