.location-container {
  padding: 60px;
  padding-top: 150px;
  margin-top: -120px;
  background-color: #f5fcff;
  color: #333;
  @media only screen and (max-width: 1400px) {
    padding: 40px;
    padding-top: 150px;
  }

  @media only screen and (max-width: 900px) {
    padding: 20px;
    padding-top: 150px;
  }

  @media only screen and (max-width: 400px) {
    padding: 10px;
    padding-top: 150px;
  }
}

.location-header {
  text-align: left;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
    align-items: start;
  }
  h1 {
    width: 770px;
    font-weight: 400;
    font-size: 72px;
    line-height: 86.4px;
    letter-spacing: -4px;
    text-align: left;
    background: linear-gradient(91.63deg, #0200cc 2.06%, #010066 85.94%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media only screen and (max-width: 830px) {
      font-weight: 400;
      font-size: 67px;
      line-height: 76.4px;
      width: 100%;
    }
    @media only screen and (max-width: 640px) {
      font-weight: 400;
      font-size: 52px;
      line-height: 56.4px;
    }
    @media only screen and (max-width: 452px) {
      font-weight: 400;
      font-size: 40px;
      line-height: 46.4px;
    }
  }

  p {
    width: 770px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.3px;
    @media only screen and (max-width: 830px) {
      width: 100%;
    }
  }

  .get-in-touch {
    margin-top: 2rem;
    padding: 8px 10px 8px 25px;
    margin-top: 70px;
    background-color: #007bff;
    color: #fff;
    border: none;
    font-size: 20px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.5px;

    cursor: pointer;
    transition: background-color 0.3s ease;
    background: linear-gradient(90.15deg, #2463eb 0.13%, #1c4eb8 103.2%);
    color: #fff;
    border: 1px solid transparent;
    transition: 0.3s linear;
    @media only screen and (max-width: 1050px) {
      margin-top: 40px;
    }
    @media only screen and (max-width: 500px) {
      padding: 5px 6px 5px 15px;
      font-size: 16px;
    }
    

    .arrow-icon {
      transition: 0.3s linear;
      background: #fff;
      color: #0056b3;
      border-radius: 100px;
      width: 40px;
      height: 40px;
      padding: 5px;
          @media only screen and (max-width: 400px) {
            width: 30px;
            height: 30px;
          }
    }

    &:hover {
      background: #fff !important;
      border: 1px solid #0056b3;
      color: #472525;

      .arrow-icon {
        background: linear-gradient(90.15deg, #2463eb 0.13%, #1c4eb8 103.2%);
        color: #fff;
      }
    }
  }
}

.breadcrumb {
  font-size: 0.875rem;
  color: #666;
  text-align: center;
  //   margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #000000 !important;
  @media only screen and (max-width: 888px) {
    flex-direction: column;
    gap: 20px;
    align-items: start;
  }
  .unFill-separator {
    font-size: 25px;
  }
  .p_home {
    margin-left: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.3px;
    text-decoration: underline;
    text-decoration-style: solid;
    color: #00727a;
  }
  .breadcrumb-separator {
    margin: 0 0.5rem;
    font-size: 25px;
    color: #00bcca;
  }
  .p {
    font-weight: 400;
    color: #171717;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.3px;
  }
}

.clinic-selection {
  //   text-align: center;
  display: flex !important;
  align-items: center !important;
  @media only screen and (max-width: 608px) {
    flex-direction: column;
    align-items: start !important;
    gap: 10px;
  }
  @media only screen and (max-width: 428px) {
    .smsl {
      gap: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  span {
    display: block;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  h3 {
    font-weight: 400;
    color: #000000;
    opacity: 0.7;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.3px;
  }
  .clinic-button {
    background-color: white;
    border: 1px solid #00727a;
    color: #000;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    @media only screen and (max-width: 358px) {
      font-size: 11px;
    }
    &:hover {
      background-color: #00727a;
      color: white;
    }
  }
  .border-b {
    width: 100%;
    height: 10px;
    background: #000 !important;
  }
}
