.treatments-page {
  // padding: 20px;

  .treatment-header {
    background-image: url("../../../assets//TrendingTreatments/bannner0.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    height: 670px;
    background-position: 0% 82%;
    padding: 170px 100px 60px 120px;
    margin-top: -120px;

    @media only screen and (max-width: 1400px) {
      padding: 170px 40px 40px 100px;
    }
    @media only screen and (max-width: 1200px) {
      background-position: 50% 92%;
    }
    @media only screen and (max-width: 1000px) {
      padding: 170px 20px 40px 50px;
      background-position: 70% 92%;
    }

    @media only screen and (max-width: 400px) {
      padding: 170px 10px 40px 20px;
    }
    .card-Treatments {
      background: #b0f0f566;
      padding: 5px 20px;
      border-radius: 50px;
      color: #000;
    }
    h1 {
      margin-top: 160px;
      width: 770px;
      font-weight: 500;
      color: #fff;
      font-size: 48px;
      line-height: 57.6px;
      letter-spacing: -2.2px;
      text-shadow: 0px 2px 10px black;
      @media only screen and (max-width: 8100px) {
        width: 100%;
      }
      @media only screen and (max-width: 400px) {
        font-size: 40px;
        line-height: 50.6px;
      }
    }

    p {
      margin-top: 10px;
      color: #fff;
      text-shadow: 0px 2px 10px black;
      max-width: 600px;
      // border: 1px solid red;
      font-weight: 400;
      font-family: "Supreme-Regular", sans-serif;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.3px;
      @media only screen and (max-width: 8100px) {
        width: 100%;
      }
    }
    .bott-m {
      margin-top: 80px;
      display: flex;
      align-items: center;
      gap: 10px;
      .unFill-separator {
        font-size: 24px;
        color: #fff;
      }
      .p_home {
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.3px;
        // text-decoration: underline;
        // text-decoration-style: solid;
        a {
          // text-decoration: none;
          color: #02d1df;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
      .breadcrumb-separator {
        color: #00bcca;
        font-size: 24px;
      }
      .p {
        color: #ffffff6d;
        font-weight: 400;
        font-family: "Supreme-Regular", sans-serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.3px;
      }
    }
  }
  .sectionCard {
    padding: 60px 120px;
    background-image: url("../../../assets/TrendingTreatments/Gradient2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 120px;

    @media only screen and (max-width: 1400px) {
      padding: 40px 100px;
    }

    @media only screen and (max-width: 1400px) {
      padding: 40px 100px;
    }
    @media only screen and (max-width: 1300px) {
      padding: 40px 80px;
    }
    @media only screen and (max-width: 1200px) {
      padding: 40px 70px;
    }
    @media only screen and (max-width: 1100px) {
      padding: 40px 60px;
    }
    @media only screen and (max-width: 1000px) {
      padding: 40px 40px;
    }
    @media only screen and (max-width: 600px) {
      padding: 40px 30px;
    }
    @media only screen and (max-width: 500px) {
      padding: 30px 20px;
    }
    @media only screen and (max-width: 400px) {
      padding: 30px 10px;
    }
    h1 {
      text-align: center;
      padding-top: 0px;
      font-weight: 700;
      color: #643434;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: -1.8px;
      @media only screen and (max-width: 900px) {
        margin-bottom: 20px;
      }
    }
  }
  //
  // AllTreatments.scss

  .sectionCard {
    // ... other styles for sectionCard ...

    .filters-container {
      margin-top: 20px;
      margin-bottom: 50px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      @media (max-width: 768px) {
        flex-direction: column;
        align-items: stretch;
      }

      .search-bar {
        flex-grow: 1;
        position: relative;
        max-width: 400px;
        width: 100%;
        input {
          background: #fff;
          width: 100%;
          padding: 12px 12px 12px 40px;
          border: 1px solid #ddd;
          border-radius: 8px;
          font-size: 1em;
          outline: none;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
          height: 40px;

          &:focus {
            border-color: #007bff;
            box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
          }
        }

        .search-icon {
          position: absolute;
          left: 15px;
          top: 50%;
          transform: translateY(-50%);
          color: #888;
        }
      }

      .filter-dropdown-wrapper {
        display: flex;
        gap: 15px;
        @media (max-width: 768px) {
          width: 100%;
          min-width: 400px;
          max-width: 400px;
          justify-content: space-between;
        }
         @media (max-width: 445px) {
          flex-direction: column;
          min-width: 100%;
          max-width: 100%;
        }

        .filter-dropdown {
          position: relative;
          width: 180px;
          @media (max-width: 768px) {
            width: 100%;
          }
          @media (max-width: 400px) {
            width: 100%;
          }

          .dropdown-button {
            width: 100%;
            padding: 8px 15px;
            height: 40px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 8px;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            // align-items: center;
            font-family: Geist;
            font-weight: 500;
            font-style: Medium;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0%;

            color: #333;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
            transition: all 0.2s ease-in-out;

            &:hover {
              background-color: #f0f0f0;
              border-color: #bbb;
            }

            .arrow {
              margin-left: 10px;
              font-size: 0.8em;
            }
          }

          .dropdown-content {
            // border: 1px solid red;
            position: absolute;

            background-color: #fff;
            min-width: 200px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 100;
            border-radius: 8px;
            // padding: 10px 0;
            margin-top: 5px;
            left: 0;
            max-height: 250px;
            overflow-y: auto;
            font-family: "Geist";
            font-weight: 400;
            font-style: Regular;
            font-size: 13px;
            leading-trim: NONE;
            line-height: 16px;
            letter-spacing: 0%;
            @media (max-width: 480px) {
              @media (max-width: 480px) {
                margin-left: -15px;
              }
              @media (max-width: 480px) {
                margin-left: 0;
                width: 100%;
              }
            }
            .dropdown-item {
              display: flex !important;
              flex-direction: row-reverse;
              align-items: center;
              justify-content: space-between;
              padding: 7px 10px !important;
              text-align: left !important;
              .checkbox-input {
                margin-right: -14px;
              }
            }
            &.radio-group {
              .dropdown-item {
                display: flex;
                align-items: center;
                padding: 8px 15px;

                input[type="radio"] {
                  margin-right: 10px;
                  cursor: pointer;
                }
              }
              .clear-filter-btn {
                display: block;
                width: calc(100% - 30px);
                margin: 10px 15px;
                padding: 8px;
                background-color: #dc3545;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                &:hover {
                  background-color: #c82333;
                }
              }
            }

            .dropdown-item {
              padding: 8px 15px;
              display: block;
              cursor: pointer;
              &:hover {
                background-color: #f1f1f1;
              }
              input[type="checkbox"] {
                margin-right: 10px;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }

  //
  .navtab {
    border-bottom: 1px solid #e8e8e8;
    margin-top: 20px;
    overflow-x: scroll !important;
    @media only screen and (max-width: 840px) {
    }
  }
  .treatment-filters {
    min-width: 1100px;
    display: flex;
    justify-content: start;
    gap: 40px;
    margin: 2px 0;
    img {
      width: 23px;
      height: 23px;
    }
    @media only screen and (max-width: 1150px) {
      gap: 20px;
    }
    @media only screen and (max-width: 900px) {
      overflow-y: hidden;
      width: 820px;
      margin: 0;
      gap: 10px;
      min-width: 960px;

      // padding: 0 100px;
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      background: transparent;
      // padding: 10px 40px;
      border: none;
      cursor: pointer;
      // border-radius: 10px;
      font-weight: 500;
      transition: 0.3s;
      color: #121212;
      text-align: left;
      font-family: Geist;
      font-weight: 400;
      font-style: Regular;
      font-size: 20px;
      leading-trim: NONE;
      line-height: 28px;
      letter-spacing: -0.5px;
      vertical-align: middle;
      padding-bottom: 3px;
      border-bottom: 2px solid transparent;

      @media only screen and (max-width: 1150px) {
        padding: 10px 20px;
      }
      @media only screen and (max-width: 900px) {
        padding: 10px 15px;
      }
      @media only screen and (max-width: 845px) {
        // min-width: 140px ;
        // border: 1px solid red;
      }

      &.active {
        // background: #b0f0f5;
        border-bottom: 2px solid #643434;
        color: #643434;
      }

      &:hover {
        color: #643434;
        // background: #ddd;
      }
    }
  }

  .treatment-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    @media only screen and (max-width: 1350px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @media only screen and (max-width: 900px) {
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      margin-top: 20px;
    }
    @media only screen and (max-width: 640px) {
      grid-template-columns: 1fr;
      gap: 10px;
    }
    .treatment-card {
      background: #ffffff;
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      text-align: center;
      //   padding: 20px;
      width: 100%;
      height: 400px;
      border-radius: 20.13px;
      position: relative;
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0%;
        background: rgba(0, 0, 0, 0.058);
        position: absolute;
        z-index: 1;
        border-radius: 12px;
      }

      &:hover {
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          border-radius: 12px;

          // Light gradient layer (optional subtle white glow if needed)
          background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.1) 30%,
            rgba(0, 0, 0, 0.2) 60%,
            rgba(0, 0, 0, 0.35) 100%
          );
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          border-radius: 12px;

          // Strong dark blur
          backdrop-filter: blur(40px);
          -webkit-backdrop-filter: blur(40px);

          mask-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 1) 40%,
            rgba(0, 0, 0, 0.5) 70%,
            rgba(0, 0, 0, 0) 100%
          );
          -webkit-mask-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 1) 40%,
            rgba(0, 0, 0, 0.5) 70%,
            rgba(0, 0, 0, 0) 100%
          );
        }

        .about_action {
          .book-now,
          p {
            opacity: 1;
            transition: transform 0.6s ease, opacity 0.6s ease;
            display: block;
            height: 100%;
            transform: translateY(0);
          }
        }
      }

      .img {
        // width: 315px;
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 10px;
        overflow: hidden;
        img {
          //   width: 315px;
          width: 100%;
          height: 400px;
          object-fit: cover;
          border-radius: 10px;
          transition: 0.3s linear;
          will-change: transform;
          &:hover {
            scale: 1.1;
          }
        }
      }
      .about_action {
        overflow: hidden;
        width: 100%;
        // height: 100%;
        position: absolute;
        // margin-top: -120px;
        bottom: 0;
        // top: 50%;
        // margin-top: 0;
        padding: 15px 20px;
        display: flex;
        flex-direction: column;
        align-items: baseline;

        // width: 315px;
        h3 {
          text-align: center;
          font-weight: 600;
          color: #fff;
          text-shadow: 0px 1px 22px rgba(0, 0, 0, 0.517);
          font-size: 24px;
          line-height: 28.59px;
          letter-spacing: -0.5px;
          margin: 0 auto;
          z-index: 2;
        }
        p {
          position: relative;
          text-align: center;
          font-weight: 500;
          color: #fff;
          text-shadow: 0px 1px 22px rgba(0, 0, 0, 0.517);
          font-family: "Geist";
          font-weight: 400;
          font-style: Regular;
          font-size: 16px;
          line-height: 23px;
          letter-spacing: -0.84px;
          text-align: center;
          text-transform: capitalize;
          margin: 10px auto;
          transition: 0.3s linear;
          z-index: 2;
          opacity: 0;
          transition: all 0.4s ease;
          display: none;
        }

        .book-now {
          margin-top: 2rem;
          padding: 5px 8px 5px 15px;
          margin-top: 10px;
          background-color: #007bff;
          color: #fff;
          border: none;
          font-size: 13px;
          border-radius: 100px;
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: -0.5px;
          min-width: 120px;
          z-index: 2;
          margin: 10px auto;
          cursor: pointer;
          transition: background-color 0.3s ease;
          background: linear-gradient(90.15deg, #2463eb 0.13%, #1c4eb8 103.2%);
          color: #fff;
          border: 1px solid transparent;
          opacity: 0;
          transition: transform 0.6s ease, opacity 0.6s ease;
          display: none;
          @media only screen and (max-width: 500px) {
            padding: 5px 6px 5px 15px;
            font-size: 10px;
          }

          .arrow-icon {
            transition: 0.3s linear;
            background: #fff;
            color: #0056b3;
            border-radius: 100px;
            width: 30px;
            height: 30px;
            padding: 5px;
          }

          &:hover {
            background: #fff !important;
            border: 1px solid #0056b3;
            color: #472525;

            .arrow-icon {
              background: linear-gradient(
                90.15deg,
                #2463eb 0.13%,
                #1c4eb8 103.2%
              );
              color: #fff;
            }
          }
        }
      }
    }
  }

  .LoadMoreTreatments {
    padding: 7px 10px 7px 25px;
    margin: 50px auto 0px auto;

    color: #643434;
    border: none;
    font-size: 20px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.5px;
    background: transparent;

    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid #2463eb;
    transition: 0.3s linear;

    @media only screen and (max-width: 500px) {
      padding: 5px 6px 5px 15px;
      font-size: 10px;
    }

    .arrow-icon {
      transition: 0.3s linear;
      color: #fff;
      background: linear-gradient(90.15deg, #2463eb 0.13%, #1c4eb8 103.2%);
      border-radius: 100px;
      width: 30px;
      height: 30px;
      padding: 5px;
    }

    &:hover {
      border: 1px solid #0056b3;
      color: #fff;
      background: linear-gradient(90.15deg, #2463eb 0.13%, #1c4eb8 103.2%);
      .arrow-icon {
        background: #643434;
        color: #fff;
      }
    }
  }
}

//
/* Custom Checkbox */
// input[type="checkbox"] {
.checkbox-input {
  appearance: none;
  -webkit-appearance: none;
  width: 19px;
  height: 19px;
  border: 2px solid #aaa;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;

  &:checked {
    border-color: #6750a4;
    background-color: #6750a4;
  }

  &:checked::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 6px;
    width: 4px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  &:hover {
    border-color: #6750a4;
  }
}

/* Label alignment for checkbox text */
.dropdown-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.95em;
  color: #333;
}

// /* Custom Radio */
// input[type="radio"] {
.radio-input {
  appearance: none;
  -webkit-appearance: none;
  width: 19px;
  height: 19px;
  border: 2px solid #aaa;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;

  &:checked {
    border-color: #6750a4;
  }

  &:checked::after {
    content: "";
    width: 10px;
    height: 10px;
    background: #6750a4;
    position: absolute;
    border-radius: 50%;
    top: 3px;
    left: 3px;
  }

  &:hover {
    border-color: #6750a4;
  }
}
