.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(8px);
  transition: 0.3s linear;
}

.modal-container {
  background: white;
  border-radius: 20px;
  width: 900px;
  padding: 10px 60px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  @media only screen and (max-width: 1040px) {
    padding: 10px 20px;
    width: 800px;
  }
  @media only screen and (max-width: 940px) {
    padding: 10px 20px;
    width: 750px;
  }
  @media only screen and (max-width: 870px) {
    padding: 10px 20px;
    width: 750px;
  }
  @media only screen and (max-width: 780px) {
    padding: 10px;
    width: 700px;
  }
  @media only screen and (max-width: 730px) {
    max-height: 600px;
    padding: 30px;
    width: 600px;
    overflow: scroll;
  }
  @media only screen and (max-width: 670px) {
    max-height: 600px;
    padding: 30px;
    width: 500px;
  }
  @media only screen and (max-width: 530px) {
    padding: 20px;
    width: 450px;
  }
  @media only screen and (max-width: 470px) {
    width: 400px;
  }
  @media only screen and (max-width: 420px) {
    width: 350px;
  }
  @media only screen and (max-width: 370px) {
    width: 95%;
    padding: 12px;
  }
  @media only screen and (max-width: 340px) {
    width: 95%;
    height: 470px;
    border-radius: 10px;
  }
  // border: 1px solid red;
}

.close-button {
  position: absolute;
  top: 0px;
  right: -50px;
  background: #d9d9d9;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: none;
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  @media only screen and (max-width: 870px) {
    top: 5px;
    right: 5px;
  }
  @media only screen and (max-width: 730px) {
    top: 15px;
    right: 15px;
    position: fixed;
  }
  @media only screen and (max-width: 340px) {
    top: 5px;
    right: 5px;
    z-index: 999;
  }
  &:hover {
    svg {
      color: red;
    }
  }
}

.modal-title {
  font-weight: 400;
  font-family: "Supreme-Regular", sans-serif;
  font-size: 50px;
  color: #371d1d;
  text-align: center;
  @media only screen and (max-width: 670px) {
    font-size: 40px;
  }
  @media only screen and (max-width: 530px) {
    font-size: 34px;
  }
  @media only screen and (max-width: 470px) {
    font-size: 30px;
  }
  @media only screen and (max-width: 420px) {
    font-size: 26px;
  }
}

.modal-subtitle {
  text-align: center;
  font-size: 18px;
  color: #171717;
  width: 630px;
  margin: 0 auto;
  margin-bottom: 20px;
  @media only screen and (max-width: 730px) {
    width: 100%;
  }
  @media only screen and (max-width: 470px) {
    font-size: 16px;
    line-height: 22px;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .form-row {
    display: flex;
    justify-content: space-between;
    // gap: 10px;
    width: 620px;
    margin: 0 auto;

    @media only screen and (max-width: 730px) {
      flex-direction: column;
      // width: 500px;
      width: 100%;
    }
    .form_group {
      display: flex;
      flex-direction: column;
      gap: 8px;
      label {
        color: #171717;
        font-weight: 400;
        font-family: "Supreme-Regular", sans-serif;
        font-size: 18px;
        line-height: 25.2px;
        letter-spacing: 0%;
        text-align: left;
      }
      @media only screen and (max-width: 730px) {
        // margin-top: 5px;
        &:nth-child(2) {
          // border: 1px solid red !important;
          margin-top: 10px;
        }
      }

      input,
      select {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        min-width: 300px;
        font-weight: 400;
        font-family: "Supreme-Regular", sans-serif;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0%;
        color: #454545;
        outline: none;
        &:hover {
          border: 1px solid rgba(0, 76, 255, 0.466);
        }

        &:focus {
          box-shadow: 0px 0px 4px 0.1px #004cffd0;
          border: 1px solid #004cffd0;
        }
        @media only screen and (max-width: 730px) {
          flex-direction: column;
          // width: 500px;
          width: 100%;
        }
        @media only screen and (max-width: 340px) {
          min-width: 100%;
        }
      }
    }
    .date-group {
      position: relative;
      @media only screen and (max-width: 730px) {
        margin-top: 10px;
        input {
          width: 180% !important;
        }
      }
      @media only screen and (max-width: 670px) {
        input {
          width: 145% !important;
        }
      }
      @media only screen and (max-width: 530px) {
        input {
          width: 136% !important;
        }
      }
      @media only screen and (max-width: 570px) {
        input {
          width: 120% !important;
        }
      }
      @media only screen and (max-width: 420px) {
        input {
          width: 103% !important;
        }
      }
      @media only screen and (max-width: 370px) {
        input {
          width: 107% !important;
        }
      }
      @media only screen and (max-width: 360px) {
        input {
          width: 105% !important;
        }
      }
      @media only screen and (max-width: 354px) {
        input {
          width: 100% !important;
        }
      }
      @media only screen and (max-width: 340px) {
        input {
          width: 137% !important;
        }
      }
      @media only screen and (max-width: 340px) {
        input {
          width: 128% !important;
        }
      }
      .calendar-icon {
        position: absolute;
        top: 43px;
        right: 10px;
        color: grey;
      }
    }
  }

  .textarea-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 620px;
    margin: 0 auto;
    @media only screen and (max-width: 730px) {
      flex-direction: column;
      // width: 500px;
      width: 100%;
    }
    textarea {
      outline: none;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: none;
      min-width: 300px;
      font-weight: 400;
      font-family: "Supreme-Regular", sans-serif;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0%;
      color: #454545 !important;
      text-align: left ;
      &:hover {
        border: 1px solid rgba(0, 76, 255, 0.466);
      }

      &:focus {
        box-shadow: 0px 0px 4px 0.1px #004cffd0;
        border: 1px solid #004cffd0;
      }
      @media only screen and (max-width: 330px) {
        min-width: 100%;
      }
    }

    .textarea-span {
      font-size: 12px;
      color: #999;
    }
  }

  .book-now {
    width: fit-content;
    margin: 20px auto;
    padding: 8px 8px 8px 45px;

    background-color: #8ae9f0;
    color: #643434;
    border: none;
    font-size: 13px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.5px;

    cursor: pointer;
    transition: background-color 0.3s ease;
    // background: linear-gradient(90.15deg, #2463eb 0.13%, #1c4eb8 103.2%);
    border: 1px solid transparent;
    transition: 0.3s linear;

    @media only screen and (max-width: 500px) {
      padding: 5px 6px 5px 15px;
      font-size: 10px;
    }

    .arrow-icon {
      transition: 0.3s linear;
      background: #00575d;
      color: #fff;
      border-radius: 100px;
      width: 30px;
      height: 30px;
      padding: 5px;
    }

    &:hover {
      background: #00575d !important;
      border: 1px solid #0056b3;
      color: #fff;

      .arrow-icon {
        background: linear-gradient(90.15deg, #2463eb 0.13%, #1c4eb8 103.2%);
        background: #8ae9f0;
        color: #643434;
      }
    }
  }
}




.thank-you-popup {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

.thank-you-popup h3 {
  font-size: 24px;
  color: #2d8cf0;
}

.thank-you-popup p {
  margin: 10px 0;
  color: #555;
}

.thank-you-popup button {
  padding: 8px 16px;
  background: #2d8cf0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.thank-you-popup button:hover {
  background: #1b6ec2;
}