.clinical-concerns-section {
  margin: 0 auto;
  background: linear-gradient(179.02deg, #fff0df 60.94%, #f3feff 104.22%);
  // padding: clamp(0rem, 0vw, 8rem);
  padding: 60px 120px;
 min-height: 1700px;
 
 border: 1px solid red !important;
 @media only screen and (max-width: 870px){
   min-height: 1750px;

 }
 @media only screen and (max-width: 700px){
   min-height: 1800px;

 }
@media only screen and (max-width: 1400px) {
  padding: 40px 100px;
}

@media only screen and (max-width: 1300px) {
  padding: 30px 80px;
}
@media only screen and (max-width: 1200px) {
  padding: 30px 70px;
}
@media only screen and (max-width: 1100px) {
  padding: 30px 60px;
}
@media only screen and (max-width: 1000px) {
  padding: 30px 40px;
}
@media only screen and (max-width: 600px) {
  padding:  30px;
}
@media only screen and (max-width: 500px) {
  padding: 30px 20px;
}
@media only screen and (max-width: 400px) {
  padding: 20px 10px;
}

  padding-top: 50px !important;
  .concerns-header {
    text-align: center;
    margin-bottom: clamp(2rem, 5vw, 3rem);
    .concerns-label {
      color: #1b3e9f;
      background: #b8b8b833;
      border-radius: 50px;
      padding: 4px 10px;
      font-size: 0.875rem;
      margin-bottom: 5px;
      display: block;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      width: fit-content;
      text-align: left;
      font-weight: 500;
    }

    .section-title {
      font-family: "Geist";
      font-weight: 400;
      font-size: clamp(24px, 5vw, 40px);
      line-height: clamp(2.2rem, 6vw, 3rem);
      letter-spacing: -2.5px;
      text-transform: capitalize;
      text-align: left;
      // background: linear-gradient(135.34deg, #643434 5.18%, #010066 74.19%);
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      display: flex;
      color: #171717;
      gap: 10px;
      margin-top: 10px;
      @media (max-width: 1050px) {
        display: block;
        width: 100%;
        letter-spacing: -1.5px;
      }
      img {
        width: clamp(24px, 5vw, 40px);
      }
      .highlight-text {
        color: #6a1b9a;
      }
    }
  }
  .tabs_main {
    margin-top: 20px;
    height: 50px;
    margin-bottom: 40px;
    overflow-x: auto;
    overflow-y: hidden !important ;
      @media only screen and (max-width: 1170px){
        height: 45px;
      }
      @media only screen and (max-width: 900px){
        height: 40px;
      }
  }
  .tabs-navigation {
    display: flex;
    justify-content: space-between;
    // gap: clamp(0.8rem, 2vw, 1rem);
    margin-bottom: 2.5rem;
    // flex-wrap: wrap;
    border-bottom: 1px solid #e8e8e8;
    min-width: 800px;
    @media (max-width: 1050px) {
    }

    .tab-button {
      font-family: "Geist";
      background-color: transparent;
      border: none;
      padding: 5px 20px;
      // padding: clamp(0.75rem, 2vw, 1rem) clamp(1.5rem, 3vw, 2rem);
      font-size: clamp(1.2rem, 2vw, 1.4rem);
      font-weight: 400;
      color: #555;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      transition: all 0.3s ease;
      white-space: nowrap;
      border-bottom: 2px solid #5b2f2f00;
  @media (max-width: 1450px) {
      padding: 5px 10px;
    }
      img {
        width: clamp(1rem, 2vw, 1.5rem);
        height: clamp(1rem, 2vw, 1.5rem);
      }

      &:hover {
        color: #5b2f2f;
      }

      &.active {
        color: #5b2f2f;
        border-bottom: 2px solid #5b2f2f !important;
        // box-shadow: 0px 12px 20px -8px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 10px 25px -10px #5b2f2f1c;
        // font-weight: 500;
      }
    }
  }

  .tab-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (max-width: 700px) {
      gap: 40px;
    }
    .concern-card {
      display: flex;
      align-items: center;
      justify-content: space-between;

      padding: clamp(0.5rem, 2vw, 1.5rem);
      cursor: pointer;
      border-bottom: 1px solid #e8e8e8;
      // &.active {

      .card-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        flex-grow: 1;
        padding-right: 20px;

        .flex-tags {
          width: 100%;
          display: flex;
          justify-content: space-between;
          gap: 30px;
          @media (max-width: 1333px) {
            flex-direction: column;
          }
          @media (max-width: 870px) {
            flex-direction: row;
            width: 100%;
          }
          @media (max-width: 700px) {
            flex-direction: column;
            width: 100%;
          }
        }
        .info-title {
          display: flex;
          gap: 20px;
          @media only screen and (max-width: 500px) {
            gap: 10px;
          }
        }
        .card-number {
          font-family: Geist;
          font-size: clamp(1.25rem, 3vw, 1.75rem);
          font-weight: 500;
          line-height: 31.2px;
          color: #171717;
          letter-spacing: -0.8px;
          opacity: 0.6;
        }

        .card-title {
          font-family: Geist;
          opacity: 0.6;
          font-size: clamp(1.25rem, 4vw, 1.75rem);
          font-weight: 500;
          line-height: 31.2px;
          letter-spacing: -0.8px;
          color: #333;
          margin: 0;
        }

        .card-tags {
          display: flex;
          flex-wrap: wrap;
          gap: 8px;
          max-width: 371px;
          margin: 0 auto;
          @media only screen and (max-width: 1333px) {
            margin: 0 0 !important;
          }
          .tag {
            animation: smoothFadeUp 0.2s ease forwards;
            font-family: Geist;
            background-color: #e6fafc;
            color: #171717;
            padding: 5px 10px;
            border-radius: 20px;
            font-size: 14px;
            line-height: 120%;
            display: flex;
            align-items: center;
            gap: 5px;
            white-space: nowrap;
            border: 0.91px solid #e8e8e8;
            svg {
              min-width: 10px;
              height: 8px;
              color: #171717;
            }
          }
        }
        .card-media {
          // display: flex;
          // align-items: center;
          // gap: 15px;
          // margin-left: auto;
          // flex-shrink: 0;
          position: relative;

          .book-appointment-btn {
            // position: absolute; // Position button relative to .card-media
            bottom: 25px; // Adjust as needed for your image layout
            right: -25%; // Adjust as needed
            z-index: 10; // Ensure it's above the image
            height: 40px;
            padding: 8px 5px 8px 25px; // Your specified padding
            background:#5B2F2F; // Your gradient
            color: #fff;
            font-size: 16px; // Adjust if too large for image
            border-radius: 100px;
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 500;
            line-height: 24px;
            border: 1px solid #5B2F2F !important;
            letter-spacing: -0.5px;
            cursor: pointer;
            transition: 0.3s linear;
            white-space: nowrap; // Prevent button text from wrapping
            // width: fit-content;
            @media only screen and (max-width: 870px) {
              right: -35%;
            }
            @media only screen and (max-width: 700px) {
              right: -32%;
            }
            @media only screen and (max-width: 600px) {
              right: -30%;
            }
            @media only screen and (max-width: 550px) {
              right: -28%;
            }
            @media only screen and (max-width: 500px) {
              padding: 5px 6px 5px 15px;
              font-size: 14px;
              right: -25%;
              // bottom: 10px; // Adjust for smaller screens
              // right: 10px; // Adjust for smaller screens
            }
            @media only screen and (max-width: 350px) {
              font-size: 12px;
              padding: 4px 5px 4px 10px;
              // bottom: 8px;
              // right: 8px;
            }

            .arrow-icon {
              transition: 0.3s linear;
              background: #00575D;
              color: #fff; // Darker blue for the arrow inside the white circle
              border-radius: 100px;
              width: 30px; // Adjusted size for better fit
              height: 30px; // Adjusted size for better fit
              padding: 4px; // Adjusted padding
              display: flex;
              align-items: center;
              justify-content: center;
            }

            &:hover {
              background: #fff !important;
              border: 1px solid #fff;
              color: #472525;

              .arrow-icon {
                background:#472525;
                color: #fff;
              }
            }
          }
          .iconDown{
            opacity: 0.5;
          }
          .img_img{
            overflow: hidden;
            border-radius: 10px;
            background: transparent;
            height: fit-content;
            height: 176px;
          }
          .card-image.large-image {
            // width: clamp(200px, 30vw, 360px);
            // height: clamp(120px, 20vw, 175px);
            width: 360px;
            height: 176px;
            border-radius: 10px;
            object-fit: cover;
            // position: absolute;
            transition: transform 0.3s ease-in-out;
            animation: smoothFadeUp 0.3s ease forwards;
            box-shadow: 1px 2px 15px 0px #00000033;
            &:hover{
              transition: 2s ease-in-out;
              scale: 1.2;
            }
          }
        }
        .card-media-active {
          // width: clamp(180px, 30vw, 335px);
          // height: clamp(85px, 20vw, 120px);
          width: 340px;
          height: 126px;
        }
      }

      &.active {
        align-items: flex-start;
        // position: relative;
        border-bottom: 1px solid #e8e8e8;
        background-color: #f5f7ff;
        transform: scale(1.01);
        transition: all 0.3s ease;
        box-shadow: 0px 10px 25px -10px #5b2f2f1c;
        border-radius: 12px;
        .card-info {
          .tag {
            // NEW: Style for selected tag
            &.selected-tag {
              background-color: #b2ebf2; // A slightly different background to show selection
              font-weight: 400; // Make it a bit bolder
              border: 0.91px solid #1b3e9f; // A distinct border
              color: #1b3e9f; // A distinct text color
              svg {
                fill: #1b3e9f; // Match checkmark color
              }
              span{
                scale: 1.3;
              }
            }
            // NEW: Style for "More >" tag
            &.more-tag {
              background-color: #e6fafc; // A neutral background
              cursor: pointer;
              font-weight: 400; // Slightly bolder
              &:hover {
                background-color: #ddf8fa;
              }
            }
          }
          @media (max-width: 870px) {
            flex-direction: column;
            padding-right: 0;
            .card-tags {
              max-width: 300px;
              font-size: 12px;
              padding: 4px 8px;
              @media (max-width: 700px) {
                max-width: 100%;
                margin-left: 20px;
                margin-top: -20px;
              }
            }
            .img_img{
              height: 120%;
            }
            .card-media {
              width: 95%;
              height: 200px;
              .card-image.large-image {
                width: 100%;
                height: 120%;
                }
              }
            }
          }
          .card-number,
          .card-title {
            opacity: 1;
          }
          .card-title {
            // width: 200px;
            @media (max-width: 1461px) {
              width: 350px;
            }
            @media (max-width: 1391px) {
              width: 300px;
            }
            @media (max-width: 1391px) {
              width: 300px;
            }
            @media (max-width: 1333px) {
              width: 100%;
            }
          }
        }
      }
      .active{
        margin-bottom: 20px;
      }

      // }

      &.simple {
        justify-content: space-between;
        align-items: center;

        .card-info {
          display: flex;
          align-items: center;
          gap: 15px;
          flex-grow: 1;

          .card-number,
          .card-title {
            font-family: Geist;
            font-weight: 500;
            font-size: clamp(1.25rem, 2vw, 1.75rem);
            line-height: 31.2px;
            letter-spacing: -0.8px;
            color: #6a1b9a;
          }

          .card-title {
            color: #444;
            font-weight: 500;
          }
        }

        // .card-media {
        //   display: flex;
        //   align-items: center;
        //   gap: 15px;
        //   flex-shrink: 0;

        //   .card-image.small-image {
        //     width: clamp(40px, 6vw, 60px);
        //     height: clamp(40px, 6vw, 60px);
        //     border-radius: 50%;
        //     object-fit: cover;
        //     border: 1px solid #eee;
        //   }
        // }
      }

      .static-arrow-icon {
        width: clamp(18px, 2vw, 24px);
        height: clamp(18px, 2vw, 24px);
        color: #999;
        flex-shrink: 0;
        margin-left: 10px;
        transition: transform 0.3s ease;
      }
    }
    @keyframes smoothFadeUp {
      0% {
        opacity: 0;
        transform: translateY(-10px) scale(0.9);
      }
      100% {
        opacity: 1;
        transform: translateY(0) scale(1);
      }
    }
  }

.tabs_card_Hair{
   min-height: 1500px;

}
.tabs_card_Body{
   min-height: 1130px;

}
.tabs_card_Cosm{
   min-height: 800px;

}