@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

.ClassicDealsOffer_deals_salon {
  background-color: #fff;
  // background-color: #fff6ea;

  padding-right: 0;

  .ClassicDealsOffer-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // flex-wrap: wrap;
    padding-top: 40px;
    gap: 1.5rem;
    padding-left: 120px;
    margin-bottom: -30px;
    @media only screen and (max-width: 720px) {
      flex-direction: column;
      align-items: start;
      gap: 0;
    }
    @media only screen and (max-width: 1400px) {
      padding-left: 100px;
    }
    @media only screen and (max-width: 1300px) {
      padding-left: 80px;
    }
    @media only screen and (max-width: 1200px) {
      padding-left: 70px;
    }
    @media only screen and (max-width: 1100px) {
      padding-left: 60px;
    }
    @media only screen and (max-width: 1000px) {
      padding-left: 40px;
    }
    @media only screen and (max-width: 600px) {
      padding-left: 30px;
    }
    @media only screen and (max-width: 500px) {
      padding-left: 20px;
    }
    @media only screen and (max-width: 400px) {
      padding-left: 10px;
    }
    .badge {
      display: inline-block;
      // padding: 4px 10px;
      font-size: 14px;
      color: #3032b6;
      font-weight: 500;
      border-radius: 20px;
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      gap: 6px;
      img {
        width: 16px;
      }
    }

    h2 {
      font-size: clamp(1.75rem, 5vw, 2.5rem);
      color: #002092;
      margin-bottom: 30px;
      font-weight: 500;
      // line-height: clamp(1, 5vw, 1.1);
      letter-spacing: clamp(-1px, 5vw, -1.8px);
      // display: flex;
      gap: 10px;
      flex-wrap: wrap;
      align-items: center;
      @media (max-width: 400px) {
        // line-height: 0.7;
      }
      img {
        width: clamp(1rem, 5vw, 2rem);
      }
    }

    p {
      font-size: clamp(1rem, 2vw, 1rem);
      color: #1a1a1a;
      max-width: 470px;
      line-height: 1.4;
      text-align: right;

      @media (max-width: 630px) {
        text-align: left;
        max-width: 100%;
      }
    }
    .swiper-controls {
      display: flex;
      gap: 10px;
      padding-right: 120px;
      @media only screen and (max-width: 1400px) {
        padding-right: 100px;
      }
      @media only screen and (max-width: 1300px) {
        padding-right: 80px;
      }
      @media only screen and (max-width: 1200px) {
        padding-right: 70px;
      }
      @media only screen and (max-width: 1100px) {
        padding-right: 60px;
      }
      @media only screen and (max-width: 1000px) {
        padding-right: 40px;
      }
      @media only screen and (max-width: 600px) {
        padding-right: 30px;
      }
      @media only screen and (max-width: 500px) {
        padding-right: 20px;
      }
      @media only screen and (max-width: 400px) {
        padding-right: 10px;
      }
      .swiper-prev,
      .swiper-next {
        background: #fff;
        border: 1px solid #00cfde;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        color: #643434;
        transition: all 0.3s ease;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        &::after {
          font-size: 16px;
          font-weight: bold;
        }

        &:hover {
          background: #00cfde;
          color: #fff;
        }
      }

      .swiper-disabled {
        opacity: 0.3;
        pointer-events: none;
      }
    }
  }

  .swiper {
    margin-top: 2rem;
    padding-bottom: 30px;
  }

  .swiper-slide {
    background: transparent;
    border-radius: 12px;
    overflow: hidden;
    padding: 1rem;
    min-height: 222px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    color: white;
    width: 520px !important; /* Badi screens par aapki original width */
    //  width: 85% !important; /* Mobile par default width */

    // @media (min-width: 500px) {
    //   width: 380px !important; /* Tablet par fixed width */
    // }

    // @media (min-width: 1024px) {
    //   width: 450px !important; /* Desktop par fixed width */
    // }

    @media (min-width: 1400px) {
    }
    .text-content {
      z-index: 2;

      h3 {
        font-size: clamp(1.5rem, 4vw, 2.5rem);
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 0.5rem;
      }

      p {
        font-size: clamp(1rem, 2vw, 1.25rem);
        line-height: 1.3;
        white-space: pre-line;
        margin-bottom: 1rem;
      }
    }

    .deal-img {
      position: absolute;
      right: 0;
      bottom: 0;
      max-height: 100%;
      max-width: 100%;
      object-fit: cover;
      z-index: 0;
    }
  }
  .swiper-slide:nth-child(1) {
    .deal-img {
      width: 50%;
      height: 100%;
    }
    .text-content {
      display: flex;
      flex-direction: column-reverse;
      h3 {
        font-weight: 600;
        font-size: 36px;
        line-height: 26px;
        letter-spacing: -2px;
        color: #5b2f2f;
      }
      p {
        color: #00575d;
        font-weight: 500;
        font-style: Medium;
        font-size: 18px;
        line-height: 26px;
      }
    }
  }
  .swiper-slide:nth-child(2) {
    .deal-img {
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    .text-content {
      // display: flex;
      // flex-direction: column-reverse;
      h3 {
        font-weight: 500;
        font-size: 32px;
        color: #fff;
        text-transform: capitalize;
      }
      p {
        color: #fff;
        font-weight: 400;
        font-style: Medium;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.5px;
      }
    }
  }
  .swiper-slide:nth-child(3) {
   
    .text-content {
      // display: flex;
      // flex-direction: column-reverse;
      h3 {
        font-weight: 500;
        font-size: 36px;
        color: #fff;
        text-transform: capitalize;
        font-family: "Kalam", cursive;

      }
      p {
        color: #fff;
        font-weight: 400;
        font-style: Medium;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.5px;
      }
    }
  }
  .swiper-slide:nth-child(4) {
    .deal-img {
      width: 70%;
      height: 100%;
    }
    .text-content {
      display: flex;
      flex-direction: column-reverse;
      h3 {
        font-weight: 600;
        font-size: 22px;
        width: 250px;
        line-height: 26px;
        color: #000;
        text-transform: capitalize;
      }
      p {
        color: #000;
        font-weight: 500;
        font-style: Medium;
        font-size: 18px;
        line-height: 26px;
      }
    }
  }
 .swiper-slide:nth-child(5) {
    .deal-img {
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    .text-content {
      // display: flex;
      // flex-direction: column-reverse;
      h3 {
        font-weight: 500;
        font-size: 40px;
        color: #fff;
        text-transform: capitalize;
      }
      p {
        color: #fff;
        font-weight: 400;
        font-style: Medium;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.5px;
      }
    }
  }
  .offers-cards {
    padding: 1.5rem;
    border-radius: 12px !important;
    overflow: hidden;
    color: white;
    min-height: 212px;
    position: relative;
    // width: 520px !important;
    width: 100%;

    //
    @media (max-width: 520px) {
      width: 95%;
    }
    @media (max-width: 490px) {
      width: 90%;
    }
    @media (max-width: 480px) {
      width: 85%;
    }
    @media (max-width: 450px) {
      width: 80%;
    }
    @media (max-width: 420px) {
      width: 70%;
    }
    @media (max-width: 370px) {
      width: 60%;
    }
    h3 {
      font-size: clamp(1.5rem, 4vw, 2.5rem); // 40px
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 0.5rem;
      z-index: 2;
    }

    p {
      font-size: clamp(1rem, 2vw, 1.25rem); // 20px
      line-height: 1.3;
      white-space: pre-line;
      margin-bottom: 1rem;
      z-index: 2;
    }

    .Book_2_Now {
      position: absolute;
      bottom: 20px;
      padding: 3px 3px 3px 15px !important;
      // background: linear-gradient(90.15deg, #2463eb 0.13%, #1c4eb8 103.2%);
      background: linear-gradient(90.5deg, #00CFDE -10.96%, #4AEBF6 41.07%, #00CFDE 83.93%) !important;

      color: #000;
      border: 1px solid transparent;
      border-radius: 100px;
      font-size: 12px !important; // 20px
      display: flex;
      align-items: center;
      gap: 5px;
      font-weight: 500;
      letter-spacing: -0.5px;
      line-height: 24px;
      cursor: pointer;
      transition: 0.3s linear;
      height: 28px !important;
      z-index: 1;
      width: fit-content;
      .arrow-icon {
        background: #fff;
        color: #0056b3;
        border-radius: 100px;
        width: 20px !important;
        height: 20px !important;
        padding: 5px;
        transition: 0.3s linear;
      }

      &:hover {
        background: #fff !important;
        color: #472525;
        border: 1px solid #0056b3;

        .arrow-icon {
          background: linear-gradient(90.15deg, #2463eb 0.13%, #1c4eb8 103.2%);
          color: #fff;
        }
      }
    }
    .deal-img {
      position: absolute;
      right: 0;
      bottom: 0;
      max-height: 100%;
      max-width: 100%;
      object-fit: cover;
      z-index: 0;
      @media (max-width: 370px) {
        display: none;
      }
    }
  }
}
