// @import 'variables';
/* Include your custom colors in variables file */

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  transition: background-color 0.3s ease;
  padding: 0 60px;
  @media only screen and (max-width: 1400px) {
    padding: 0 40px;
  }
  @media only screen and (max-width: 1000px) {
    padding: 0 20px;
  }
  @media only screen and (max-width: 400px) {
    padding: 0 10px;
  }
  user-select: none;
  z-index: 999;
  -webkit-user-select: none;
  /* Chrome, Safari, Opera */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  &.navbar-scrolled {
    // background-color: #ffffff;
    .navbar-container {
      background: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      .navbar-logo {
        img {
          filter: sepia(100%) saturate(1000%) hue-rotate(111deg) brightness(1);
        }
      }
      .navbar-links {
        li {
          a {
            // color: #00575D ;
            color: #171717;
          }
        }
      }
      .navbar-actions {
        .search-icon {
          color: #171717;
        }
        .search-bar {
          .card_search {
          }
          .close-button {
            color: #171717 !important;
          }
        }
      }
    }
  }

  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    display: flex;
    align-items: center;
    width: 100%;
    background: radial-gradient(
      128.1% 243.86% at 115.57% 146.38%,
      rgba(255, 255, 255, 0.08) 24.26%,
      rgba(153, 153, 153, 0.08) 62.72%
    );
    backdrop-filter: blur(28px);
    -webkit-backdrop-filter: blur(22px);
    // width: 1323px;
    height: 76px;

    padding: 28.8px 15px 28.8px 24px;
    gap: 16px;
    border-radius: 100px;
    @media only screen and (max-width: 500px) {
      padding: 5px 10px 5px 10px;
      margin: 10px auto;
    }
  }

  .navbar-logo {
    .logo-circle {
      width: 47.72px;
      height: 38.3px;

      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 1.2rem;
      img {
        filter: brightness(0) invert(1);
      }
    }
  }

  .navbar-links {
    display: flex;
    list-style: none;
    gap: 1.5rem;

    li {
      a {
        color: #fff;
        opacity: 0.8;
        // font-family: 'Supreme-Medium';
        font-size: 16px;
        font-weight: 500;
        line-height: 19.2px;
        text-align: left;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration: none;
        // color: white;
        border-bottom: 1px solid transparent;
        transition: 0.3s linear;
        &:hover {
          border-bottom: 1px solid;
          opacity: 1;
        }
        &:active {
          border-bottom: 1px dotted;
          opacity: 0.6 !important;
          opacity: 1;
        }
      }
    }
  }

  .navbar-actions {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    // border: 1px solid red !important;
    margin-right: 10px;
    width: 250px;

    .appointment-button {
      width: 196px;
      height: 44px;
      padding: 0px 6px 0px 20px;
      border-radius: 100px;
      display: flex;
      align-items: center;
      outline: none;
      border: 1px solid transparent;
      background: #8ae9f0;
      color: #643434;
      cursor: pointer;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: center;
      transition: 0.3s ease-in-out;
      &:hover {
        background: #00575d;
        color: #fff;
        .arrow-icon {
          background: #8ae9f0;
          color: #643434;
        }
      }
      &:active {
        scale: 0.9;
      }
      .arrow-icon {
        color: #fff;
        width: 26.67px;
        height: 26.67px;
        padding: 5px;
        border-radius: 100px;
        margin-left: 8px;
        background: #00575d;
      }
    }

    .search-icon {
      cursor: pointer;
      color: #fff;
    }
    .search-bar-container {
      position: relative;
    }

    .search-icon {
      cursor: pointer;
      color: white;
    }

    .search-bar {
      display: flex;
      align-items: center;
      margin-left: -145px;
      transform: translateX(-50%);
      min-width: 770px;
      .card_search {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // border: 1px solid red !important;
        background: #4d5a5b5e;
        border-radius: 50px;
        padding-left: 10px;
        .search-input {
          height: 100%;
          flex: 1;
          border: none;
          background: transparent;
          color: white;
          font-size: 16px;
          height: 30px;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          width: 400px;
          outline: none;
          margin-right: 10px;
        }
        .search-button {
          background: #8ae9f0;
          color: black;
          border: none;
          height: 100%;
          border-radius: 50px;
          // padding: 5px 15px;
          cursor: pointer;
          width: 84px;
          height: 40px;
          border-radius: 100px;
          color: #643434;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          text-align: center;
          &:hover {
            background: #71cfd6;
          }
          &:active {
            font-size: 18px;
          }
        }
      }

      .search_icon_1 {
        color: #ffffffe4;
        margin-right: 10px;
      }
    }
    .close-button {
      background: transparent;
      color: white;
      border: none;
      cursor: pointer;
      margin-left: 10px;
      font-size: 24px;
      // margin-right: -200px !important;
    }

    .search-bar-container .search-bar {
      animation: fadeIn 0.3s ease-in-out;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(-20px);
      }

      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  .menu-icon {
    display: none;
  }
}

//
.navbar-scrolled {
  .navbar-container {
    .mobile-menu-icon {
      color: #171717;
    }
  }
}
.menu-active-navbar-container {
  @media (max-width: 950px) {
    border-top-left-radius: 40px !important;
    border-top-right-radius: 40px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    transition: 0.2s linear;
  }
  .menu-active {
    li {
      a {
        color: #171717 !important;
      }
    }
  }
}
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navbar-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    animation: slideDown 0.3s ease forwards;
    li {
      a {
        text-decoration: none;
        color: white;
      }
    }

    @media (max-width: 950px) {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: #ffffff;
      width: 100%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      /* Safari Support */
      padding: 30px;
      z-index: 100;
      border-bottom-left-radius: 40px !important;
      border-bottom-right-radius: 40px !important;
      &.menu-active {
        display: flex;
      }
    }
  }

  .mobile-menu-icon {
    margin-top: 5px;
    display: none;
    cursor: pointer;
    color: #fff;
    margin-right: 10px;
    @media (max-width: 950px) {
      display: block;
    }
  }
  .navbar-actions {
    display: flex;
    align-items: center;

    @media (max-width: 950px) {
      // flex-direction: column;
      display: none;
      // border: 1px solid red;
      position: absolute;
      z-index: 111;
      right: 60px;
      width: fit-content;
      .appointment-button {
        display: none;
      }
      .search-bar {
        // position: absolute;
        transform: translateX(26%);
        // right: 0px;
        // margin-right: 200px;
        // width: fit-content;
        .card_search {
          width: fit-content;
        }
      }

      &.menu-active {
        display: flex;
      }
    }
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-15px);
    scale: 0.9;
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    scale: 1;
    opacity: 1;
  }
}
