.OurTeam- {
  // background: linear-gradient(135deg, #e2eafc, #f6d9fb);
  background-image: url("../../assets/TrendingTreatments/Gradient.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;

  padding: 60px;
  color: #333;
  text-align: center;
  background: #e6fafc;
  @media only screen and (max-width: 1400px) {
    padding: 40px;
  }
  @media only screen and (max-width: 1000px) {
    padding: 40px 20px;
  }
  @media only screen and (max-width: 400px) {
    padding: 30px 10px;
  }
  .title-sbt {
    background: #b0f0f5cc;
    padding: 6px 10px;
    width: fit-content;
    border-radius: 100px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.9px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #000;
  }
  .heading-section {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media only screen and (max-width: 780px) {
      flex-direction: column;
      align-items: start;
    }
    .trending-title {
      margin-top: 10px;
      font-size: 48px;
      font-weight: 700;
      line-height: 57.6px;
      letter-spacing: -2.200000047683716px;
      text-align: left;
      color: #643434;
      @media only screen and (max-width: 500px) {
        font-size: 30px;
        margin-top: 1px;
      }
      .heart {
        margin-left: 5px;
        margin-right: -3px;
        img {
          width: 45px;
        }
        color: #3032b6;
      }
    }

    .lastName {
      font-size: 16px;
      width: 800px;
      margin-top: 10px;
      font-weight: 400;
            font-family: 'Supreme-Regular', sans-serif;
      line-height: 24px;
      letter-spacing: -0.30000001192092896px;
      text-align: left;
      color: #454545;
      @media only screen and (max-width: 1140px) {
        width: 600px;
      }
      @media only screen and (max-width: 880px) {
        width: 500px;
      }
      @media only screen and (max-width: 780px) {
        width: 100%;
      }
      @media only screen and (max-width: 500px) {
        margin-top: 0px;
        font-size: 14px;
        line-height: 19px;
      }
    }
    .Contact-Now {
      padding: 8px 10px 8px 25px;
      background-color: #007bff;
      color: #fff;
      border: none;
      font-size: 20px;
      border-radius: 100px;
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      background: linear-gradient(90.15deg, #2463eb 0.13%, #1c4eb8 103.2%);
      color: #fff;
      border: 1px solid transparent;
      transition: 0.3s linear;

      @media only screen and (max-width: 780px) {
        padding: 5px 8px 5px 20px;
        font-size: 18px;
        margin-top: 20px;
      }
             @media only screen and (max-width: 500px) {
               padding: 5px 6px 5px 15px;
               font-size: 16px;
             }
      
           
      .arrow-icon {
        transition: 0.3s linear;
        background: #fff;
        color: #0056b3;
        border-radius: 100px;
        width: 40px;
        height: 40px;
        padding: 5px;
        @media only screen and (max-width: 400px) {
        
            width: 30px;
            height: 30px;
          }
      }

      &:hover {
        background: #fff !important;
        border: 1px solid #0056b3;
        transition: 0.3s linear;
        color: #472525;

        .arrow-icon {
          background: linear-gradient(90.15deg, #2463eb 0.13%, #1c4eb8 103.2%);
          color: #fff;
        }
      }
    }
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    @media only screen and (max-width: 1070px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media only screen and (max-width: 620px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
    .card {
      border-radius: 10px;
      text-align: left;
      margin: 30px 0;
      transition: transform 0.3s;
  @media only screen and (max-width: 500px) {
     margin: 15px 0;
    }
      &:hover {
        transform: translateY(-5px);
      }

      .card-image {
        overflow: hidden;
        height: 300px;
        border-radius: 16px;
        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
          border-radius: 16px;
          transition: 0.3s linear;
          &:hover {
            scale: 1.05;
          }
        }
      }

      .card-title {
        font-size: 24px;
        margin-top: 18px;
        font-weight: 700;
        line-height: 31.2px;
        letter-spacing: -0.800000011920929px;
        text-align: left;
        color: #101010;
        @media only screen and (max-width: 500px) {
          font-size: 16px;
          margin-top: 4px;
        }
      }

      .card-lastName {
        color: #454545;
        margin-top: 10px;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        text-align: left;
        margin-top: 0px;
        @media only screen and (max-width: 950px) {
          margin-top: 0;
          margin-bottom: 20px;
        }
        @media only screen and (max-width: 500px) {
          font-size: 13px;
          line-height: 16px;
        }
      }
      .media {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #0056b3;
        margin-top: 10px;
      }
    }
  }

  .footer-section- {
    margin-top: 70px;
    width: 100%;
    display: flex;
    align-items: start;
    gap: 20px;
    flex-direction: column;
    h3 {
      text-align: left;
      font-weight: 700;
      font-size: 32px;
      line-height: 41.6px;
      letter-spacing: 0%;
      @media only screen and (max-width: 500px) {
          font-size: 24px;
          line-height: 30px;
        }
    }
    p {
      font-weight: 400;
            font-family: 'Supreme-Regular', sans-serif;
      text-align: left;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 0%;
    }
    @media only screen and (max-width: 500px) {
      // scale: 0.8;
      // margin-left: -40px;
      margin-top: 20px;
    }
    .next-btn {
      display: flex;
      align-items: center;
      transition: 0.3s linear;
      gap: 20px;
      &:hover {
        gap: 15px;
      }
      &:active {
        gap: 10px;
      }
      a {
        font-size: 24px;
        color: #00575d;
      }
      span {
        color: #472525;
      }
    }
    .Book-Now {
      padding: 8px 10px 8px 25px;
      background-color: #007bff;
      color: #fff;
      border: none;
      font-size: 20px;
      border-radius: 100px;
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: -0.5px;

      cursor: pointer;
      transition: background-color 0.3s ease;
      background: linear-gradient(90.15deg, #2463eb 0.13%, #1c4eb8 103.2%);
      color: #fff;
      border: 1px solid transparent;
      transition: 0.3s linear;
@media only screen and (max-width: 780px) {
    padding: 5px 8px 5px 20px;
    font-size: 18px;
    margin-top: 10px;
  }
     @media only screen and (max-width: 500px) {
      //  padding: 5px 6px 5px 15px;
       font-size: 16px;
     }
  
     
      .arrow-icon {
        transition: 0.3s linear;
        background: #fff;
        color: #0056b3;
        border-radius: 100px;
        width: 40px;
        height: 40px;
        padding: 5px;
        @media only screen and (max-width: 400px) {
        
            width: 35px;
              height: 35px;;
            height: 30px;
          }
      }

      &:hover {
        background: #fff !important;
        border: 1px solid #0056b3;
        transition: 0.3s linear;
        color: #472525;

        .arrow-icon {
          background: linear-gradient(90.15deg, #2463eb 0.13%, #1c4eb8 103.2%);
          color: #fff;
        }
      }
    }
  }
}

button {
  &:active {
    scale: 0.95;
  }
}
