// File: AboutUsSection.scss
.about-us-section {
  padding: 40px 120px;
  @media only screen and (max-width: 1400px) {
    padding: 40px 100px;
  }
  @media only screen and (max-width: 1300px) {
    padding: 30px 80px;
  }
  @media only screen and (max-width: 1200px) {
    padding: 30px 70px;
  }
  @media only screen and (max-width: 1100px) {
    padding: 30px 60px;
  }
  @media only screen and (max-width: 1000px) {
    padding: 40px 40px;
  }
  @media only screen and (max-width: 600px) {
    padding: 40px 30px;
  }
  @media only screen and (max-width: 500px) {
    padding: 30px 20px;
  }
  @media only screen and (max-width: 400px) {
    padding: 30px 10px;
  }

  background: #fff6ea;
  display: flex;
  justify-content: center;

  .about-us-container {
    display: flex;
    gap: 4rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    // flex-wrap: wrap;
    @media only screen and (max-width: 1170px) {
      // flex-direction: column;
    }
  }

  .about-us-left {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 1rem;
    // position: relative;
    // flex: 1;
    position: relative;

    .about-us-face-img {
      width: 290px;
      height: 482px;
      border-radius: 200px / 180px; // Top-bottom round, left-right straight
      overflow: hidden;
      @media (max-width: 530px) {
        width: 200px;
        height: 382px;
      }
      @media (max-width: 410px) {
        width: 150px;
        height: 300px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .str3 {
      position: absolute;
      right: 14%;
      top: 10%;
      @media (max-width: 410px) {
        scale: 0.8;
        right: 10%;
        top: 5%;
      }
    }
    .about-us-product-img {
      width: 170px;
      height: 282px;
      border-radius: 200px / 180px; // Top-bottom round, left-right straight
      overflow: hidden;
      @media (max-width: 530px) {
        width: 150px;
        height: 222px;
      }
      @media (max-width: 410px) {
        width: 100px;
        height: 200px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .about-us-right {
    flex: 1;
    max-width: 600px;
    @media only screen and (max-width: 1000px) {
      max-width: 100%;
    }
    @media only screen and (max-width: 1170px) {
       max-width: 100%;
       width: 100%;
      // flex-direction: column;
    }
    .about-us-subhead {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 10%;
      margin-bottom: 10px;
      color: #3032b6;
      letter-spacing: 1px;
      display: flex;
      gap: 7px;
      .about-us-spark {
        img {
          width: 16px;
        }
      }
    }

    .about-us-headline {
      font-family: "Bricolage Grotesque", sans-serif;
      font-weight: 500;
      font-size: clamp(26px, 8vw, 40px);
      line-height: 1.2;
      color: #2a1e1e;
      margin-bottom: 1rem;
      letter-spacing: -1.8px;
      width: 500px;
         @media only screen and (max-width: 1170px){
          width: 100%;
         }
    }

    .about-us-description {
      font-size: 16px;
      line-height: 24px;
      color: #555;
      margin-bottom: 80px;
      max-width: 500px;
      @media only screen and (max-width: 1170px) {
        max-width: 100%;
        margin-bottom: 30px;
      }
    }

    .about-us-cta-btn {
      padding: 1.1rem 2.5rem;
      background-color: #5e2a2a;
      color: #fff;
      border: none;
      border-radius: 999px;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 0;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: #3e1b1b;
      }
    }
  }

  @media (max-width: 900px) {
    .about-us-container {
      flex-direction: column;
      align-items: center;
    }

    .about-us-left {
      .product-img {
        position: static;
        margin-top: 1rem;
      }
    }
  }
}
