html {
  scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;500;600;700&display=swap');
// gest
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;500;600;700&display=swap');

*{
  // font-family: 'Geist', sans-serif;
  // font-family: 'Bricolage Grotesque', sans-serif;

}
.CLINIC{
  font-family: 'Geist', sans-serif;
}
.SALON{
  font-family: 'Bricolage Grotesque', sans-serif;
}

$primary-color: #1d89ff;
$hover-color: #164ca7;
$shine-color: #38ef7d;

.btn, .btn2 {
  position: relative;
   outline: none;
  text-decoration: none;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  span{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  &:hover {
    animation: rotate624 0.7s ease-in-out both;
    svg{
   animation: spin 1s linear infinite;
 }
    span {
      animation: storm1261 0.7s ease-in-out both;
      animation-delay: 0.06s;
    }
   
  }

  &.btn-shine {
    border: 1px solid;
    overflow: hidden;
    position: relative;

    span {
      // z-index: 20;
    }

    &::after {
      background: $shine-color;
      content: "";
      height: 155px;
      left: -75px;
      opacity: 0.4;
      position: absolute;
      top: -50px;
      transform: rotate(35deg);
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
      width: 50px;
      z-index: -10;
    }

    &:hover::after {
      left: 120%;
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}
.btn2{
  &:hover{
    box-shadow:
    1px 1px 0px rgba(1, 131, 141, 0.8),
    2px 2px 0px rgba(1, 125, 134, 0.7),
    4px 4px 6px rgba(0, 107, 114, 0.6),
    6px 6px 12px rgba(1, 120, 129, 0.4),
    8px 8px 18px rgba(1, 131, 141, 0.3),
    10px 10px 24px rgba(1, 125, 134, 0.2),
    12px 12px 30px rgba(1, 118, 126, 0.1);
  
  }
}
.btn{
  &:hover{
    box-shadow:
    1px 1px 0px rgba(36, 99, 235, 0.8),
    2px 2px 0px rgba(36, 99, 235, 0.7),
    4px 4px 6px rgba(36, 99, 235, 0.6),
    6px 6px 12px rgba(36, 99, 235, 0.4),
    8px 8px 18px rgba(36, 99, 235, 0.3),
    10px 10px 24px rgba(36, 99, 235, 0.2),
    12px 12px 30px rgba(36, 99, 235, 0.1);
  }
}
// Animations
@keyframes rotate624 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(2deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-2deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm1261 {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}



@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-8deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(8deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes scaleUpPop {
  0% {
    opacity: 0;
    transform:translateY(100%);
  }
 
  100% {
    opacity: 1;
    transform:translateY(0%);

  }
}


@keyframes scaleSlideFade {
  0% {
    // opacity: 0;
    transform:  scale(0.5);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    // opacity: 1;
    transform: scale(1) translateY(0);
  }
}