// @import './Fonts/WEB/css/supreme.css';
// @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;500;600;700&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Geist', sans-serif;
  // font-family: 'Bricolage Grotesque', sans-serif;

  overflow-x: hidden; /* Prevents unwanted horizontal scrolling */
}

// html {
//   scroll-behavior: smooth;
// }

// /* For Chrome, Edge, Safari */
// ::-webkit-scrollbar {
//   width: 3px; /* Adjust the width */
//   border-radius: 8px;
// }

// ::-webkit-scrollbar-track {
//   background: #f1f1f1; /* Light background for contrast */
// }

// ::-webkit-scrollbar-thumb {
//   background: #888; /* Scrollbar color */
//   border-radius: 10px;
// }

// ::-webkit-scrollbar-thumb:hover {
//   background: #555; /* Darker color on hover */
// }

// /* For Firefox */
// * {
//   scrollbar-width: thin; /* Makes the scrollbar smaller */
//   scrollbar-color: #888 #f1f1f1; /* Thumb and track colors */
// }
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-left-color: #084d86;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
