@import './Fonts/WEB/css/supreme.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Supreme-Medium', sans-serif;
  overflow-x: hidden; /* Prevents unwanted horizontal scrolling */
}

// html {
//   scroll-behavior: smooth;
// }

// /* For Chrome, Edge, Safari */
// ::-webkit-scrollbar {
//   width: 3px; /* Adjust the width */
//   border-radius: 8px;
// }

// ::-webkit-scrollbar-track {
//   background: #f1f1f1; /* Light background for contrast */
// }

// ::-webkit-scrollbar-thumb {
//   background: #888; /* Scrollbar color */
//   border-radius: 10px;
// }

// ::-webkit-scrollbar-thumb:hover {
//   background: #555; /* Darker color on hover */
// }

// /* For Firefox */
// * {
//   scrollbar-width: thin; /* Makes the scrollbar smaller */
//   scrollbar-color: #888 #f1f1f1; /* Thumb and track colors */
// }
