.hero-glow-section {
  width: 100%;
background: linear-gradient(180deg, #FFF3E4 47.06%, #FFDEB2 120.4%);
  position: relative;
  text-align: center;
  //   overflow: hidden;
  height: 630px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
padding: 40px 120px;

  @media only screen and (max-width: 1400px) {
    padding: 40px 100px;
  }
  @media only screen and (max-width: 1300px) {
    padding: 30px 80px;
  }
  @media only screen and (max-width: 1200px) {
    padding: 30px 70px;
  }
  @media only screen and (max-width: 1100px) {
    padding: 30px 60px;
  }
  @media only screen and (max-width: 1000px) {
    padding: 40px 40px;
  }
  @media only screen and (max-width: 600px) {
    padding: 40px 30px;
  }
  @media only screen and (max-width: 500px) {
    padding: 30px 20px;
  }
  @media only screen and (max-width: 400px) {
    padding: 30px 10px;
  }
  .image {
    width: 7rem;
    border-radius: 8px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &.image-top-left {
      width: 204px;
      height: 204px;
      top: 20%;
      left: 10%;
    }
  
   
    &.image-bottom-right {
      width: 182px;
      height: 249px;
       right:13%;
      bottom: 8%;
    }
  
    &.image-top-right {
      width: 169px;
      height: 211px;
      right: 8%;
      top: 10%;
    }
   
    &.image-bottom-left {
      width: 172px;
      height: 193px;
      bottom: 6%;
      left: 24%;
    }
  }

  .trusted-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    padding: 5px 10px 5px 5px;
    border-radius: 999px;
    margin-bottom: 1rem !important;
    gap: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    width: fit-content;
    margin: 0 auto;
    .avatars {
      display: flex;
      gap: -0.3rem;

      img {
        width: 24px;
        height: 24px;
        border-radius: 999px;
        border: 2px solid white;
      }
      .img2 {
        margin-left: -10px;
      }
    }

    span {
      font-weight: 500;
      font-style: Medium;
      font-size: 12px;
      leading-trim: NONE;
      line-height: 150%;
      letter-spacing: 0%;
      text-align: center;
      color: #171717;
    }
  }

  .hero-title {
    // font-family: 'Cabin';
    font-weight: 500;
    font-style: Medium;
    font-size: 64px;
    leading-trim: NONE;
    line-height: 68px;
    letter-spacing: -2.2px;
    text-transform: capitalize;

    color: #472525;

    span {
      color: #ad5a5a;
    }
  }

  .hero-subtext {
    max-width: 740px;
    margin: 1rem auto 0;
    color: #555;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.5px;
    text-align: center;
  }

  .hero-buttons {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    // justify-content: space-between;
    gap: 40px;
  
    width: 100%;
  
    .btn-primary {
      bottom: 20px;
      padding: 5px 5px 5px 20px;
      background: linear-gradient(90.15deg, #2463eb 0.13%, #1c4eb8 103.2%);
      color: #fff;
      border: 1px solid transparent;
      border-radius: 100px;
      font-size: clamp(1rem, 2vw, 1.1rem); // 20px
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 500;
      letter-spacing: -0.5px;
      line-height: 24px;
      cursor: pointer;
      transition: 0.3s linear;
      height: 40px;
      margin: 0;
      .arrow-icon {
        background: #fff;
        color: #0056b3;
        border-radius: 100px;
        width: 30px;
        height: 30px;
        padding: 5px;
        transition: 0.3s linear;
      }
  
      &:hover {
        background: #fff !important;
        color: #472525;
        border: 1px solid #0056b3;
  
        .arrow-icon {
          background: linear-gradient(90.15deg, #2463eb 0.13%, #1c4eb8 103.2%);
          color: #fff;
        }
      }
    }
  
    .btn-link {
      color: #3f1f1d;
      background: transparent;
      font-weight: 500;
      bottom: 1px solid transparent;
      outline: none;
      display: flex;
      align-items: center;
      gap: 0.4rem;
      transition: text-decoration 0.2s;
        margin-top: -40px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
